* {
    box-sizing: border-box;
}
.container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 5px;
    object-fit: cover;
    
}
h1{
    margin-top: 25px;
    text-align: center;
} 

p {  
    text-align: center;
}

.green_box {
    border: 7px solid rgb(131, 236, 131);
    height: 150px;
    margin: 10px;
  
}
 .red_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7px solid red;
    width: 500px;
    height: 500px;
    margin: 5px;
    /* object-fit: cover; */
 }
 
 .blue_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7px solid blue;
    width: 500px;
    height: 500px;
    margin: 5px;
    object-fit: cover;
 }
 .purple_box {
    border: 7px solid rgb(242, 115, 242);
    height: 10%;
    width: 95%;
    margin: 1px 2px;
 }
 .yellow_box { 
    border: 7px solid yellow;
    height: 85%;
    width: 95%;
    margin-top: 5px;
 }

 @media screen and (max-width: 700px) {
    .container-fluid {
      flex-direction: column;
    align-content: center;
    }
}
